@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* --font-*: initial; */
  --font-family: var(--font-openSans), sans-serif;
  --font-secondary: var(--font-fixelDisplay), sans-serif;

  --breakpoint-*: initial;
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-4xl: 1600px;

  --color-white: #ffffff;
  --color-black: #071429;

  --color-bg-main: #E7EDF8;
  --color-bg-sidebar: #071429;
  --color-blue: #0E64EE;
  /* --color-blue-light: #D9F7FF; //ellips-12
  --color-blue-pastel: ##CEDCFF; //ellips-11 */

}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  
  html, body {
    @apply h-full font-[openSans] relative z-1 bg-bg-main;
  }
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-200 dark:bg-gray-700;
  }
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #344054;
}


@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[fixelDisplay] font-semibold;
  }
  
  .text-description {
    @apply text-black/50 dark:text-white/80 text-sm;
  }
  /* .no-scrollbar {
    @apply no-scrollbar;
  }
  .custom-scrollbar {
    @apply custom-scrollbar;
  } */
}
