@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  /* --font-*: initial; */
  --font-family: var(--font-openSans), sans-serif;
  --font-secondary: var(--font-fixelDisplay), sans-serif;

  --breakpoint-*: initial;
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-4xl: 1600px;

  --color-white: #ffffff;
  --color-black: #071429;
  --color-bg-main: #e7edf8;
  --color-blue: #0e64ee;
  --color-ice-blue: #e8ecf4;
  --color-gray: #cdd0d4;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  html,
  body {
    @apply bg-bg-main relative z-1 min-h-screen font-[openSans] dark:bg-[#0A0F1A];
  }
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-200 dark:bg-gray-700;
  }
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #344054;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[fixelDisplay] font-semibold text-black dark:text-white/95;
  }

  .text-description {
    @apply text-sm text-black/50 dark:text-white/80;
  }

  .card-bg {
    @apply bg-white/50 dark:bg-white/5;
  }
}
